html {
  background: no-repeat url("./scratched-film-strip-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.App {
  text-align: center;
}
